:root {
    --primary: #ff9800;
    --secondary: #2B9BFF;
    --light: #EFFDF5;
    --dark: #2B3940;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}
/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


body {
    display: block;
    overflow-x: hidden;
    background: #f3f3f3 !important;
}
nav {
    background-color: #0a1429;
}

.navbar-nav a:hover:after{
    width: 100%;
}
/*** Navbar ***/
.navbar h1 {
    font-size: 18px;
    color: #ff9800;
}

.navbar-toggler {
    background-color: #FFF;
}

.bxs-bell {
    font-size: 25px;
    padding-top: 8px;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link {
    margin-right: 30px;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}


.navbar-dark .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
}


@media (max-width: 991.98px) {
    .navbar-dark .navbar-nav .nav-link,
    .navbar-light .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-light .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

.navbar-light .navbar-brand {
    height: 65px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

.navbar-light.sticky-top {
    top: -100px;
    transition: .5s;
}


.navbar-brand img {
    max-height: 50px;
}
.navbar-brand {
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 900;
    color: #ffffff;
}
nav ul li a {
    color: #ffffff;
    font-size: 24px;
    margin: auto 10px;
}

.first {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background: #0a1429 url("../img/background.jpg") no-repeat center right;
    background-size: cover;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2 , 1fr);
}
/* --------------------------------lets Form -------------------------------*/

.lets-form{
    background: #ffffff;
    margin-top: -4rem;
    padding: 5px 5px 5px 0px;
    border-radius: 2rem;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    left: 400px;
    background: #ffffff;
    padding: 20px;
    border-radius: 0.5rem;
}
.container form .main-btn {
    padding: 10px 30px;
    border: none;
    border-radius: 0.5rem;
    background: #ff9800;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}
.container form .main-btn:hover {
    background: #2B3940;
}
.text h1{
    padding-top: 50px;
    padding-left: 50px;
    font-size: 2rem;
    letter-spacing: 1.5px;
    color: #FFF;
}
.f-span{
    color: #ff9800;
}
.text p{
    margin: 00.5rem 0 1rem;
    padding-left: 50px;

    color: #d4dbe2;
}
.search-button{
    background-color: #FFF;
    border: none;
    font-size: 20px;
}
.search-button:hover {
    color: #ff9800;
}
.modal-header ,
.modal-body ,
.modal-footer {
    background-color: #f3f3f3!important;
}



@media screen and (max-width: 575px) {
    .lets-form{
        bottom: 0.2rem;
        left: 80px;
        align-items: center;
    }



}

/* .first-img {
  width: fit-content;
  background-repeat: no-repeat;
  background-position: center right;
  background-size: cover;
  display: grid;
  align-items: center;
} */

/*** Header ***/
.header-welcome .container,
.page-header .container {
    position: relative;
    padding: 45px 0 45px 35px;
    border-left: 15px solid var(--primary);
}

.header-welcome .container::before,
.header-welcome .container::after,
.page-header .container::before,
.page-header .container::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100px;
    height: 15px;
    background: var(--primary);
}

.header-welcome .container::after,
.page-header .container::after {
    top: 100%;
    margin-top: -15px;
}



@media (max-width: 768px) {
    .header-welcome .owl-welcome-item {
        position: relative;
        min-height: 500px;
    }

    .header-welcome .owl-welcome-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .header-welcome .owl-welcome-item p {
        font-size: 14px !important;
        font-weight: 400 !important;
    }

    .header-welcome .owl-welcome-item h1 {
        font-size: 30px;
        font-weight: 600;
    }
}

.header-welcome .owl-nav {
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.header-welcome .owl-nav .owl-prev,
.header-welcome .owl-nav .owl-next {
    margin: 7px 0;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    font-size: 22px;
    transition: .5s;
}

.header-welcome .owl-nav .owl-prev:hover,
.header-welcome .owl-nav .owl-next:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.page-header {
    background: url(../img/welcome-1.jpg);
    background-size: cover;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--light);
}

/*-------------------------------- Games --------------------*/
.heading {
    text-align: center;
}
.heading span {
    font-weight: 500;
    text-transform: uppercase;
}
.heaing h2{
    font-size: 2rem;
}
.see {
    color: #2B9BFF;
    width: 80%;
    text-align: right;
}

h2 {
    color: #000000;
    font-size: 26px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    margin: 30px 0 60px;
}
h2::after {
    content: "";
    width: 100px;
    position: absolute;
    margin: 0 auto;
    height: 4px;
    border-radius: 1px;
    background: #ff9800;
    left: 0;
    right: 0;
    bottom: -20px;
}
.carousel {
    margin: 50px auto;
    padding: 0 70px;
}
.carousel .item {
    color: #003f8b;
    min-height: 325px;
    text-align: center;
    overflow: hidden;
}
.carousel .thumb-wrapper {
    padding: 25px 15px;
    background: #fff;
    border-radius: 6px;
    text-align: center;
    position: relative;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}
.carousel .item .img-box {
    height: 120px;
    margin-bottom: 20px;
    width: 100%;
    position: relative;
}
.carousel .item img {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.carousel .item h4 {
    font-size: 18px;
}
.carousel .item h4, .carousel .item p, .carousel .item ul {
    margin-bottom: 5px;
}
.carousel .thumb-content .btn {
    color: #ff9800;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    background: none;
    border: 1px solid #ff9800;
    padding: 6px 14px;
    margin-top: 5px;
    line-height: 16px;
    border-radius: 20px;
}
.carousel .thumb-content .btn:hover, .carousel .thumb-content .btn:focus {
    color: #fff;
    background: #ff9800;
    box-shadow: none;
}
.carousel .thumb-content .btn i {
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}
.carousel .carousel-control {
    height: 44px;
    width: 40px;
    background: #ff9800;
    margin: auto 0;
    border-radius: 4px;
    opacity: 0.8;
}
.carousel .carousel-control:hover {
    background: #78bf00;
    opacity: 1;
}
.carousel .carousel-control i {
    font-size: 36px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin: -19px 0 0 0;
    z-index: 5;
    left: 0;
    right: 0;
    color: #fff;
    text-shadow: none;
    font-weight: bold;
}
.carousel .item-price {
    font-size: 13px;
    padding: 2px 0;
}
.carousel .item-price strike {
    opacity: 0.7;
    margin-right: 5px;
}
.carousel .carousel-control.left i {
    margin-left: -2px;
}
.carousel .carousel-control.right i {
    margin-right: -4px;
}
.carousel .carousel-indicators {
    bottom: -50px;
}
.carousel-indicators li, .carousel-indicators li.active {
    width: 10px;
    height: 10px;
    margin: 4px;
    border-radius: 50%;
    border: none;
}
.carousel-indicators li {
    background: rgba(0, 0, 0, 0.2);
}
.carousel-indicators li.active {
    background: rgba(0, 0, 0, 0.6);
}


/*------------------------------------ USER&Profile ----------------------------*/


/* .glass{
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
} */


.back-color {
    color: #000000;
    font-weight: 500;

}


.profile-tab-nav {
    min-width: 250px;
}

.tab-content {
    flex: 1;
}

.form-group {
    margin-bottom: 2rem;
    border-radius: 3rem;
}
.nav {
    border-radius: 0;
}

.nab a.nav-link {
    padding: 20px 25px;
    border-radius: 0;
    color: #ffffff;
}

.nab a.nav-link:hover {
    color: #ff9800;
}



/*--------- Footer -------------*/

.text-small {
    font-size: 0.9rem;
}

a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
footer h5 {
    color: #ff9800;
}

a:hover, a:focus {
    text-decoration: none;
}

.form-control {
    background: #212529;
    border-color: #545454;
}

.form-control:focus {
    background: #212529;
}

footer {
    background: #0a1429;
}
